<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.app.cash.main">

    <application>

        <activity
            android:name="com.mobile.app.cash.main.zygote.SplashActivity"
            android:configChanges="keyboard|screenSize|screenLayout|orientation|layoutDirection"
            android:exported="true"
            android:theme="@style/cash_SplashTheme"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mobile.app.cash.main.zygote.MainActivity"
            android:configChanges="keyboard|screenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>