<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobile.app.cash">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/cash_ic_launcher"
        android:label="@string/cash_app_name"
        android:networkSecurityConfig="@xml/cash_network_security_config"
        android:roundIcon="@mipmap/cash_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/cash_AppTheme"
        tools:ignore="AllowBackup,UnusedAttribute"
        tools:replace="android:networkSecurityConfig,android:label">

    </application>

</manifest>